/* Scoped styles for ForgotPassword component */

.forgot-container {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  
}

.forgot-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.forgot-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease;
}

.forgot-input:focus {
  border-color: #6c63ff;
}

.forgot-button {
  background: linear-gradient(to right, #6c63ff, #7c74f3);
  color: white;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:  0.3s ease;
}

.forgot-button:hover {
  background: linear-gradient(to right, #5a52db, #7067e0);
}

.forgot-message {
  font-size: 14px;
  margin-top: 10px;
}

.forgot-message.success {
  color: green;
}

.forgot-message.error {
  color: red;
}
