
.resetcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.resetform{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin:10px;
}

.resetinput{
  margin:10px;
  font-size:12px;
  padding:10px;
  width:100%;
}

.resetword{
  font-size:35px;
}


.reset-button {
  background-color: yellow;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
}

.reset-button:hover {
  background-color: #f7d800;
}























